@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$bar-color: rgb(0, 0, 0);
$main-text-color: rgb(0, 0, 0);
$window-background-color: rgb(260, 260, 260);
$main-font: Lora, serif;

html {
  padding: env(safe-area-inset);
}

body {
  background: repeat url('./images/background.jpg');
  box-sizing: border-box;
  font-color: $main-text-color;
  font-family: $main-font;  
  line-height: 2em;
}

button {
  background-color: inherit;
  border: none;
  color: $window-background-color;
  outline: none;
  user-select: none;
    &:hover,
    &:active {
      color: $window-background-color;
    }
    &:focus {
      font-size: 1.5em;
    }
}

code {
  background-color: $main-text-color;
  color: $window-background-color;
  display: inline-block;
  font-weight: 600;
  margin: 0.1em;
  padding: 0.5em;
}

h1 {
  border-bottom: 0.1em dotted $main-text-color;
}

a {
  color: rgb(95, 38, 38);
}

blockquote {
  border-left: 0.2em solid $bar-color;
  padding-left: 0.2em;
}

table {
  border: 0.1em solid $bar-color;
  th, td {
    border: 0.1em solid $bar-color;
    box-shadow: 0.1em 0.1em 0.2em $bar-color;
    padding: 0.2em;    
  }
}

.bar {
  align-items: center;
  background-color: $bar-color;
  color: $window-background-color;
  display: flex;
  height: 2em;
  justify-content: space-between;
  padding: 0 1%;
  width: 98%;
}

#editor-window,
#preview-window {
  margin: 1em auto;
  padding: 0.2em;
  width: 90%;
}

#editor-window {
  #editor {
    background-color: $window-background-color;
    border: 0;
    box-shadow: 0 0.2em 1em $bar-color;
    font-size: 1.2em;
    height: 100%;
    padding: 0 5%;
    width: 98%;
    &:focus {
      border: 0.1em dotted black;
      outline: none;
      width: 97.5%;
    }
  }
}
.editor-window-maxi {
  height: 100vh;
}

.preview-window {
  #preview {
    background-color: $window-background-color;
    box-shadow: 0 0.2em 1em $bar-color;
    margin: 0;
    min-height: 20em;
    overflow-wrap: anywhere;
    overflow: auto;
    padding: 0 1%;
  }
}

.hidden {
  display: none;
}